<div class="p-3 d-flex bg-light justify-content-between">
  <h2  id="userName"> Bienvenido {{this.user.name}}</h2>
  <button class=" btn btn-primary" id="logout">Log Out</button>
</div>
<div class="p-4 d-flex justify-content-between">
  <div> Ejemplo  solo login de usuarios  para prueba de GraphQL :) </div>
  <a class=" btn btn-primary" href="/graphql">IR A SANDBOX APOLLO </a>
</div>
<script src="js/logout.js"></script> 