<div class=" row vh-100 mx-auto justify-content-center align-items-center  w-50">
    <div class="bg-light p-3">
         <h1>Logueate</h1>

      <form id="loginForm" class="">
    
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input id="email" name="email" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label" >Password</label>
        <input  id="password" name="password" class="form-control" required>
      </div>
      <input type="submit" class="btn btn-primary">      
    </form>
    </div>
   
</div>
    <script src="js/login.js"></script> 


